In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Specify the file paths for input data
index_input = 'Company_Index.xlsx'
KPI_input = 'Company_KPI.xlsx'

# Read the Excel files into DataFrames
Index_data = pd.read_excel(index_input)
KPI_data = pd.read_excel(KPI_input)

# Convert 'Date' columns to datetime objects
Index_data['Date'] = pd.to_datetime(Index_data['Date'])
KPI_data['Date'] = pd.to_datetime(KPI_data['Date'])

# Display the input DataFrames
display(KPI_data)
display(Index_data)

# Count the number of unique ticker names in KPI_data
Number_of_tickers = KPI_data['Ticker name'].nunique()
print("Number of Tickers are:", Number_of_tickers)

# Find unique ticker names in KPI_data
Tickers_name = KPI_data['Ticker name'].unique()
print("Available tickers in Input data:", Tickers_name)

# Iterate through rows in KPI_data
for i in range(len(KPI_data)):
    # Get the date and ticker name for the current row
    date_condition = KPI_data['Date'][i]
    ticker_condition = KPI_data['Ticker name'][i]

    # Find the index in Index_data where date and ticker name match
    index_of_value = Index_data[(Index_data['Date'] == date_condition) & (Index_data['Ticker name'] == ticker_condition)].index

    if not index_of_value.empty:
        index_of_value = index_of_value[0]
        indices_to_sum = [index_of_value, index_of_value - 1, index_of_value - 2]
        indices_to_sum_LTM = [index_of_value - k for k in range(12)]

        sum_of_values = 0
        sum_of_values_LTM = 0
        all_values_found = True
        all_values_found_LTM = True
        same_ticker_name = True
        same_ticker_name_LTM = True

        # Iterate through the indices to sum (Q Index)
        for index in indices_to_sum:
            if index >= 0:
                value = Index_data.at[index, 'Index']
                current_ticker_name = Index_data.at[index, 'Ticker name']
                
                if not np.isnan(value) and value != 0 and current_ticker_name == ticker_condition:
                    sum_of_values += value
                else:
                    all_values_found = False
                    break
            else:
                all_values_found = False

        # Check for same ticker name and set Q Index or "NA"
        if all_values_found and same_ticker_name:
            KPI_data.at[i, "Q Index"] = sum_of_values
            KPI_data.at[i, "Final Month"] = Index_data.at[index_of_value, 'Index']
            
        else:
            KPI_data.at[i, "Q Index"] = "NA"
        
    
        # Iterate through the indices to sum (LTM Index)
        for index in indices_to_sum_LTM:
            if index >= 0:
                value = Index_data.at[index, 'Index']
                current_ticker_name = Index_data.at[index, 'Ticker name']
                
                if not np.isnan(value) and value != 0 and current_ticker_name == ticker_condition:
                    sum_of_values_LTM += value
                else:
                    all_values_found_LTM = False
                    break
            else:
                all_values_found_LTM = False

        # Check for same ticker name and set LTM Index or "NA"
        if all_values_found_LTM and same_ticker_name:
            KPI_data.at[i, "LTM Index"] = sum_of_values_LTM
        else:
            KPI_data.at[i, "LTM Index"] = "NA"

# Display the modified KPI_data DataFrame with "Q Index," "Final Month," and "LTM Index" values
#MIX index calculation

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Specify the file paths for input data
index_input = 'Company_Index.xlsx'
KPI_input = 'Company_KPI.xlsx'

# Read the Excel files into DataFrames
Index_data = pd.read_excel(index_input)
KPI_data = pd.read_excel(KPI_input)

# Convert 'Date' columns to datetime objects
Index_data['Date'] = pd.to_datetime(Index_data['Date'])
KPI_data['Date'] = pd.to_datetime(KPI_data['Date'])

# Display the input DataFrames
display(KPI_data.head(3))
display(KPI_data.tail(3))

display(Index_data.head(3))
display(Index_data.tail(3))

        Date  KPI Ticker name KPI Type
0 2018-03-31    1         abc  Revenue
1 2018-06-30    1         abc  Revenue
2 2018-09-30    1         abc  Revenue

         Date  KPI Ticker name KPI Type
43 2023-03-31    2         xyz    Order
44 2023-06-30    2         xyz    Order
45 2023-09-30    2         xyz    Order

        Date  Index Ticker name
0 2018-03-31      1         abc
1 2018-04-30      2         abc
2 2018-05-31      3         abc

          Date  Index Ticker name
133 2023-08-31     66         xyz
134 2023-09-30     67         xyz
135 2023-10-31     68         xyz

In [4]:

# Count the number of unique ticker names in KPI_data
Number_of_tickers = KPI_data['Ticker name'].nunique()
# print("Number of Tickers are:", Number_of_tickers)

# Find unique ticker names in KPI_data
Tickers_name = KPI_data['Ticker name'].unique()
# print("Available tickers in Input data:", Tickers_name)

# Iterate through rows in KPI_data
for i in range(len(KPI_data)):
    # Get the date and ticker name for the current row
    date_condition = KPI_data['Date'][i]
    ticker_condition = KPI_data['Ticker name'][i]

    # Find the index in Index_data where date and ticker name match
    index_of_value = Index_data[(Index_data['Date'] == date_condition) & (Index_data['Ticker name'] == ticker_condition)].index

    if not index_of_value.empty:
        index_of_value = index_of_value[0]
        indices_to_sum = [index_of_value, index_of_value - 1, index_of_value - 2]
        indices_to_sum_LTM = [index_of_value - k for k in range(12)]

        sum_of_values = 0
        sum_of_values_LTM = 0
        all_values_found = True
        all_values_found_LTM = True
        same_ticker_name = True
        same_ticker_name_LTM = True

        # Iterate through the indices to sum (Q Index)
        for index in indices_to_sum:
            if index >= 0:
                value = Index_data.at[index, 'Index']
                current_ticker_name = Index_data.at[index, 'Ticker name']
                
                if not np.isnan(value) and value != 0 and current_ticker_name == ticker_condition:
                    sum_of_values += value
                else:
                    all_values_found = False
                    break
            else:
                all_values_found = False

        # Check for the same ticker name and set Q Index or "NA"
        if all_values_found and same_ticker_name:
            KPI_data.at[i, "Q Index"] = sum_of_values
            KPI_data.at[i, "Final Month"] = Index_data.at[index_of_value, 'Index']
        else:
            KPI_data.at[i, "Q Index"] = "NA"
    
        # Iterate through the indices to sum (LTM Index)
        for index in indices_to_sum_LTM:
            if index >= 0:
                value = Index_data.at[index, 'Index']
                current_ticker_name = Index_data.at[index, 'Ticker name']
                
                if not np.isnan(value) and value != 0 and current_ticker_name == ticker_condition:
                    sum_of_values_LTM += value
                else:
                    all_values_found_LTM = False
                    break
            else:
                all_values_found_LTM = False

        # Check for the same ticker name and set LTM Index or "NA"
        if all_values_found_LTM and same_ticker_name:
            KPI_data.at[i, "LTM Index"] = sum_of_values_LTM
        else:
            KPI_data.at[i, "LTM Index"] = "NA"

# Display the modified KPI_data DataFrame with "Q Index," "Final Month," and "LTM Index" values
# MIX index calculation

In [5]:
# Define the Mix_Index_ratio with 1 decimal place rounding
Mix_Index_ratio = [round(k * 0.2, 1) for k in range(6)]

# Loop through each ratio and create corresponding columns in KPI_data
for ratio in Mix_Index_ratio:
    column_name = f"Mix Index {ratio:.1f} (LTM-FM) + FM"
    KPI_data[column_name] = None  # Initialize with None to handle missing data

# Loop through the data and calculate values for each ratio
for i in range(len(KPI_data)):
    for k, ratio in enumerate(Mix_Index_ratio):
        column_name = f"Mix Index {ratio:.1f} (LTM-FM) + FM"

        # Check if both 'LTM Index' and 'Final Month' are valid values
        ltm_value = KPI_data.at[i, 'LTM Index']
        final_month_value = KPI_data.at[i, 'Final Month']
        if pd.notna(ltm_value) and ltm_value != "NA" and pd.notna(final_month_value) and final_month_value != "NA":
            KPI_data.at[i, column_name] = final_month_value + ratio * (ltm_value - final_month_value)
        else:
            KPI_data.at[i, column_name] = "NA"

In [6]:
display(KPI_data.head(5))
display(KPI_data.tail(5))

,Date,KPI,Ticker name,KPI Type,Q Index,LTM Index,Final Month,Mix Index 0.0 (LTM-FM) + FM,Mix Index 0.2 (LTM-FM) + FM,Mix Index 0.4 (LTM-FM) + FM,Mix Index 0.6 (LTM-FM) + FM,Mix Index 0.8 (LTM-FM) + FM,Mix Index 1.0 (LTM-FM) + FM
0,2018-03-31,1,abc,Revenue,NA,NA,NaN,NA,NA,NA,NA,NA,NA
1,2018-06-30,1,abc,Revenue,9,NA,4.0,NA,NA,NA,NA,NA,NA
2,2018-09-30,1,abc,Revenue,18,NA,7.0,NA,NA,NA,NA,NA,NA
3,2018-12-31,1,abc,Revenue,27,NA,10.0,NA,NA,NA,NA,NA,NA
4,2019-03-31,1,abc,Revenue,36,90,13.0,13.0,28.4,43.8,59.2,74.6,90.0

,Date,KPI,Ticker name,KPI Type,Q Index,LTM Index,Final Month,Mix Index 0.0 (LTM-FM) + FM,Mix Index 0.2 (LTM-FM) + FM,Mix Index 0.4 (LTM-FM) + FM,Mix Index 0.6 (LTM-FM) + FM,Mix Index 0.8 (LTM-FM) + FM,Mix Index 1.0 (LTM-FM) + FM
41,2022-09-30,2,xyz,Order,162,594,55.0,55.0,162.8,270.6,378.4,486.2,594.0
42,2022-12-31,2,xyz,Order,171,630,58.0,58.0,172.4,286.8,401.2,515.6,630.0
43,2023-03-31,2,xyz,Order,180,666,61.0,61.0,182.0,303.0,424.0,545.0,666.0
44,2023-06-30,2,xyz,Order,189,702,64.0,64.0,191.6,319.2,446.8,574.4,702.0
45,2023-09-30,2,xyz,Order,198,738,67.0,67.0,201.2,335.4,469.6,603.8,738.0